In [17]:
import pandas as pd
from datetime import datetime
from dateutil import relativedelta

#
dob = datetime(1988,10,21)
dt_of_starting_job = datetime(2012,9,26)
dt_today = datetime.now()
total_age = relativedelta.relativedelta(dt_today,dob)
total_exp = relativedelta.relativedelta(dt_today,dt_of_starting_job)

print("Today's date",datetime.now().date())
print('My age till today is: {} years {} months {} days'.format(total_age.years,total_age.months,total_age.days))
print('My total experience till today is: {} years {} months {} days'.format(total_exp.years,total_exp.months,total_exp.days))

#United Health Group
ust = datetime(2012,9,26)
uet = datetime(2015,12,30)
utime = relativedelta.relativedelta(uet,ust)

#Mahindra Comviva
mst = datetime(2016,1,4)
met = datetime(2017,3,31)
mtime = relativedelta.relativedelta(met,mst)

#Fidelity International
fst = datetime(2017,4,3)
fet = datetime(2019,10,16)
ftime = relativedelta.relativedelta(fet,fst)

#Macquarie Global Services Pvt. Ltd.
mqst = datetime(2019,10,17)
mqet = datetime(2022,4,25)
mqtime = relativedelta.relativedelta(mqet,mqst)

data = [['United Health Group','812167', ust, uet, 'Associate Software Engineer', 'Apps Devpr 1','{} years {} months {} days'.format(utime.years,utime.months,utime.days)],
        ['Mahindra Comviva','5345', mst, met, 'Senior Engineer', 'Senior Engineer','{} years {} months {} days'.format(mtime.years,mtime.months,mtime.days)],
       ['Fidelity International','A604854', fst, fet, 'Programmer Analyst', 'Programmer Analyst','{} years {} months {} days'.format(ftime.years,ftime.months,ftime.days)],
       ['Macquarie Global Services Pvt. Ltd.','94751', mqst, mqet, 'Assistant Manager', 'Assistant Manager','{} years {} months {} days'.format(mqtime.years,mqtime.months,mqtime.days)]]
df = pd.DataFrame(data, columns=['Company Name','Emp Id', 'Start Date', 'End Date', 'Position Joined', 'Last Position Held', 'Duration'])
df.head()

Today's date 2022-04-14
My age till today is: 33 years 5 months 24 days
My total experience till today is: 9 years 6 months 19 days

,Company Name,Emp Id,Start Date,End Date,Position Joined,Last Position Held,Duration
0,United Health Group,812167,2012-09-26,2015-12-30,Associate Software Engineer,Apps Devpr 1,3 years 3 months 4 days
1,Mahindra Comviva,5345,2016-01-04,2017-03-31,Senior Engineer,Senior Engineer,1 years 2 months 27 days
2,Fidelity International,A604854,2017-04-03,2019-10-16,Programmer Analyst,Programmer Analyst,2 years 6 months 13 days
3,Macquarie Global Services Pvt. Ltd.,94751,2019-10-17,2022-04-25,Assistant Manager,Assistant Manager,2 years 6 months 8 days